<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("English", "Index", "Language", new { language = "en" }, null)</li>
    <li>@Html.ActionLink("Kannada", "Index", "Language", new { language = "kn" }, null)</li>
    <li>@Html.ActionLink("Hindi", "Index", "Language", new { language = "hi" }, null)</li>
    <li>@Html.ActionLink("Arabic", "Index", "Language", new { language = "ar" }, null)</li>
    <li>@Html.ActionLink("French", "Index", "Language", new { language = "fr" }, null)</li>

</ul>
